# VCS
.git
.gitignore
.gitattributes

# Editor
.vscode

# Dependencies & build output
node_modules
build
.svelte-kit

# Env files
.env
.env.*
**/.env
**/.env.*

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
README.md
LICENSE
