@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@plugin '@tailwindcss/typography';

@theme {
	--font-inter: 'Inter', sans-serif;
}

@theme {
	--color-text: rgb(239, 245, 246);
	--color-background: rgb(5, 9, 10);
	--color-primary: rgb(153, 193, 209);
	--color-secondary: rgb(11, 67, 91);
	--color-accent: rgb(78, 160, 193);
}

body {
	@apply bg-zinc-900 font-inter text-white;
}

.inline-code :not(pre) :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	@apply rounded-lg border border-[#3d3f4a] bg-[#2d2f3a] px-2 py-0.5 font-medium text-[#f8f8f2];

	&::before,
	&::after {
		@apply appearance-none content-none;
	}
}

.headings-hide-autolink
	:where(h1, h2, h3, h4, h5, h6, th):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	a {
		@apply relative fill-(--tw-prose-headings) text-(--tw-prose-headings) no-underline decoration-0 transition-opacity;

		&::after {
			@apply absolute right-full my-auto mr-1.5 h-8 w-8 bg-(--tw-prose-headings) opacity-0 transition-all duration-100 content-[""];
			--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath d='M117.18 188.74a12 12 0 0 1 0 17l-5.12 5.12A58.26 58.26 0 0 1 70.6 228a58.62 58.62 0 0 1-41.46-100.08l34.75-34.75a58.64 58.64 0 0 1 98.56 28.11a12 12 0 1 1-23.37 5.44a34.65 34.65 0 0 0-58.22-16.58l-34.75 34.75A34.62 34.62 0 0 0 70.57 204a34.4 34.4 0 0 0 24.49-10.14l5.11-5.12a12 12 0 0 1 17.01 0M226.83 45.17a58.65 58.65 0 0 0-82.93 0l-5.11 5.11a12 12 0 0 0 17 17l5.12-5.12a34.63 34.63 0 1 1 49 49l-34.81 34.7A34.4 34.4 0 0 1 150.61 156a34.63 34.63 0 0 1-33.69-26.72a12 12 0 0 0-23.38 5.44A58.64 58.64 0 0 0 150.56 180h.05a58.28 58.28 0 0 0 41.47-17.17l34.75-34.75a58.62 58.62 0 0 0 0-82.91'/%3E%3C/svg%3E");
			-webkit-mask: var(--svg) no-repeat center;
			mask: var(--svg) no-repeat center;
		}
	}

	&:hover a {
		@apply underline decoration-2;

		&::after {
			@apply opacity-100;
		}
	}
}

.shiki {
	@apply relative overflow-hidden rounded-xl border border-[#3d3f4a] p-2;

	counter-reset: step;
	counter-increment: step 0;
	&.line-numbers .line::before {
		@apply content-[counter(step)];
	}

	&.has-focused {
		&:hover {
			.line:not(.focused) {
				@apply blur-none;
			}
		}

		.line:not(.focused) {
			@apply blur-xs;
		}
	}

	&:has(.filename) {
		@apply pt-10;
	}

	.filename {
		@apply absolute inset-x-0 top-0 z-10 flex h-10 flex-row items-center gap-2 border-b border-zinc-600 bg-zinc-500/20 px-3 font-inter text-xl font-bold backdrop-blur-sm;

		p {
			@apply m-0 flex items-center leading-none;
		}

		iconify-icon {
			@apply h-7 w-7 flex-none text-[1.75rem];
		}
	}

	code {
		@apply scrollbar-none block overflow-x-auto;
	}

	.line {
		@apply border-l-4 border-transparent font-mono transition-all duration-250;

		&::before {
			counter-increment: step;
			@apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600;
		}

		&.highlighted,
		&.diff {
			@apply -ml-2 inline-block w-[calc(100%+(--spacing(4)))] pl-2;
		}

		&.highlighted {
			@apply border-neutral-500 bg-neutral-600/20;
		}

		&.diff {
			&.add,
			&.remove {
				span:first-child::before {
					@apply -ml-4 inline-flex w-4;
				}
			}

			&.add {
				@apply border-green-500 bg-green-500/25 before:text-green-500;
				span:first-child::before {
					@apply text-green-500 content-["+"];
				}
			}

			&.remove {
				@apply border-red-500 bg-red-500/30 opacity-70 *:text-neutral-400! before:text-red-500;
				span:first-child::before {
					@apply text-red-500 content-["-"];
				}
			}
		}
	}
}
