name: Build and push Docker image

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Compute version
        run: |
          DATE=$(date +%Y-%m-%d)
          SHORT_SHA=${GITHUB_SHA::7}
          VERSION=v$DATE-$SHORT_SHA
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Find previous release tag
        run: |
          PREV_TAG=$(git tag --list 'v*' --sort=-creatordate | head -n 1)
          echo "PREV_TAG=$PREV_TAG" >> $GITHUB_ENV

      - name: Generate changelog between releases
        run: |
          REPO_URL="https://github.com/${{ github.repository }}"
          VERSION="${{ env.VERSION }}"
          PREV_TAG="${{ env.PREV_TAG }}"

          echo "CHANGELOG<<EOF" >> $GITHUB_ENV
          echo "## Changes for $VERSION" >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV

          if [ -z "$PREV_TAG" ]; then
            git log --pretty=format:"- %s ([%h]($REPO_URL/commit/%H))" >> $GITHUB_ENV
          else
            git log "$PREV_TAG"..HEAD --pretty=format:"- %s ([%h]($REPO_URL/commit/%H))" >> $GITHUB_ENV
          fi

          echo "" >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV

          if [ -n "$PREV_TAG" ]; then
            echo "**Complete changelog:** $REPO_URL/compare/$PREV_TAG...$VERSION" >> $GITHUB_ENV
          fi

          echo "EOF" >> $GITHUB_ENV

      - name: Log in to container registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/luisfadini/personal-website:latest
            ghcr.io/luisfadini/personal-website:${{ env.VERSION }}
      
      - name: Update GitHub release documentation
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          body: ${{ env.CHANGELOG }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}